/*Variables*/
$font-title: 'Orbitron', sans-serif;
$font-content: 'Comfortaa', cursive;
$white: #ffffff;
$black: #000000;
$grey: #e5e5e5;
$border-color: #ebebeb;
$green: #16A085;

.header-lecture{
  width: 100%;
  min-width: 1024px;
  height: 25px;
  padding: 20px 0;
  background-color: #fff;
  background-image: none;
  text-align: center;
  z-index: 20;
  border-bottom: 1px solid $border-color;



  .title-lecture{
    font-weight: bold;
    font-family: $font-title;
    font-size: 18px;

    span{
      font-family: $font-content;
      margin-right: 1em;
      font-style: italic;
    }
  }

  .link-btn{
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px 0;
    width: 155px;
    cursor: pointer;
    text-align: left;
    display: block;
    border-bottom: none;
    padding: 10px 0 10px 45px;
    border-right: 1px solid $border-color;
  }
  .link-btn-lw{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 0;
    width: 305px;
    cursor: pointer;
    text-align: right;
    display: block;
    border-bottom: none;
    padding: 10px 45px 10px 0;
    border-left: 1px solid $border-color;
  }

  a{
    text-decoration: none;
    color: black;
  }
  a:hover,
  a:active,
  a:focus{
    text-decoration: none;
    color: black;
    opacity: 0.6;
  }
}
.btn-top{
  position: fixed;
  right: 2%;
  bottom: 15%;
  background: #2c2c2c;
  border: none;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  padding: 24px 12px;
  margin: 2px 2px;
  opacity: 0.8;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.btn-top:hover,
.btn-top:active,
.btn-top:focus{
  opacity: 1;
}

.lecture-content{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.35;

   h3{
     text-align: center;
     text-transform: uppercase;
     padding-top: 1em;
      border-top: 1px solid $border-color;
   }
  h3:first-child{
    border: none;
  }
  .subtitle{
    color: $green;
    text-transform: uppercase;
    border-left: 2px solid $green;
    font-size: 14px;
  }
  p{
    text-align: justify;
    text-indent: 2em;
  }
  pre{
    border: 1px solid $border-color;
    line-height: 2;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 14px;
    background: rgba(0,51,102,0.0625);
  }
  img{
    display: block;
    margin: 0 auto;
  }
  .center{
    text-align: center;
  }
  .rules{
    padding: 1em 2em;
    border: 2px solid $border-color;
    border-radius: 5px;

    h4{
      text-indent: 2em;
      text-transform: uppercase;
      color: $green;
    }
  }

}
.btn-next-previous{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1em;

  .bold{
    font-weight: bold;
  }

  .uppercase{
    text-transform: uppercase;
    font-size: 12px;
  }

  a{
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  a:hover,
  a:active,
  a:focus{
    text-decoration: none;
    color: #4e555b;
  }
}
